<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<style type="text/css">
		img{
			width: 300px;
			height: 300px;
			float: left;
			margin: 1%;
		}
		.jumbotron{
			background-image: url('https://cdn.citymapia.com/idukki/royal-star-gents-beauty-parlour/21823/Portfolio.jpg?biz=5293');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		#header{
			border-radius: 10px;
			border-style: solid;
			border-color: black;
			color: white;
		}
	</style>
</head>
<body>
	<div id="header" class="jumbotron text-center">
		<h1 class="display-3 text-center">The Salon</h1>
		<div class="container">
			<p><b> Good hair speaks louder than words.</b></p>
			<a href="http://localhost:1002/" class="btn btn-primary">Back</a>
			<a href="/book" class="btn btn-success">Book</a>
		</div>
	</div>
	<div class="container">
		
				<img src="https://www.truedial.com/gallery/83-g1.jpg">
				<img src="https://www.newlookinstitute.com/images/before-after-gallery/mens-gallery/hairskeen/02-hairskeen-after.jpg">
				<img src="https://www.hji.co.uk/wp-content/efs/2013/07/2007-men-streak.jpg">
				<img src="https://www.hairstreets.com/images/gallery/big/1.png">
				<img src="https://top-spa.net/wp-content/uploads/listing-uploads/gallery/2020/06/hair-salon-for-men-1.jpg">
				<img src="https://cindysbarberbeauty.com/uploads/fdemoipkkysqz/gallery/Hair-salon-22031-Cindys-Barber-Beauty-in-Fairfax-VA-22031-No-3.jpg">
	</div>
</body>
</html>